In [359]:
import pandas as pd
import numpy as np
data = pd.DataFrame({
    'Outlook': ['Sunny', 'Sunny', 'Overcast', 'Rainy', 'Rainy', 'Rainy', 'Overcast', 'Sunny', 'Sunny', 'Rainy', 'Sunny', 'Overcast', 'Overcast', 'Rainy'],
    'Temperature': ['Hot', 'Hot', 'Hot', 'Mild', 'Cool', 'Cool', 'Cool', 'Mild', 'Cool', 'Mild', 'Mild', 'Mild', 'Hot', 'Mild'],
    'Humidity': ['High', 'High', 'High', 'High', 'Normal', 'Normal', 'Normal', 'High', 'Normal', 'Normal', 'Normal', 'High', 'Normal', 'High'],
    'Wind': ['Weak', 'Strong', 'Weak', 'Weak', 'Weak', 'Strong', 'Strong', 'Weak', 'Weak', 'Weak', 'Strong', 'Strong', 'Weak', 'Strong'],
    'PlayTennis': ['No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No']
})

In [360]:
data

     Outlook Temperature Humidity    Wind PlayTennis
0      Sunny         Hot     High    Weak         No
1      Sunny         Hot     High  Strong         No
2   Overcast         Hot     High    Weak        Yes
3      Rainy        Mild     High    Weak        Yes
4      Rainy        Cool   Normal    Weak        Yes
5      Rainy        Cool   Normal  Strong         No
6   Overcast        Cool   Normal  Strong        Yes
7      Sunny        Mild     High    Weak         No
8      Sunny        Cool   Normal    Weak        Yes
9      Rainy        Mild   Normal    Weak        Yes
10     Sunny        Mild   Normal  Strong        Yes
11  Overcast        Mild     High  Strong        Yes
12  Overcast         Hot   Normal    Weak        Yes
13     Rainy        Mild     High  Strong         No

In [361]:
Gain = [Gain1, Gain2, Gain3, Gain4]
Gain

[0.24674981977443933,
 0.02922256565895487,
 0.15183550136234159,
 0.04812703040826949]

In [362]:
max(Gain)

0.24674981977443933

In [363]:
col = data.columns.tolist()
col

['Outlook', 'Temperature', 'Humidity', 'Wind', 'PlayTennis']

In [364]:
col = data.columns.tolist()
gain = []
for j in range(len(col)-1):
    feature_data = data[[col[j],col[4]]]
    feat_no  = len(feature_data[feature_data['PlayTennis'] == 'No'])
    feat_yes = len(feature_data[feature_data['PlayTennis'] == 'Yes'])
    P_pos = feat_yes/len(feature_data)
    P_neg = feat_no/len(feature_data)
    feature_entropy = -(P_pos)*(np.log2(P_pos))-(P_neg)*(np.log2(P_neg))
    print(feature_entropy)
    cat=data[col[j]].unique().tolist()
    print(cat)
    ent = []
    for i in range(len(cat)):
            p_yes = data[(data[col[j]] == cat[i]) & (data['PlayTennis'] == 'No')]
            p_no  = data[(data[col[j]] == cat[i]) & (data['PlayTennis'] == 'Yes')]
            p_pos = len(p_yes)/(len(p_yes)+len(p_no))
            p_neg = len(p_no)/(len(p_yes)+len(p_no))
            if p_neg == 0:
                Entropy_Sv =((len(p_yes)+len(p_no))/len(data))*(-(p_pos)*np.log2(p_pos) - (p_neg))
                Entropy_Sv = abs(Entropy_Sv)
            else:        
                Entropy_Sv =((len(p_yes)+len(p_no))/len(data))*(-(p_pos)*np.log2(p_pos) - (p_neg)*np.log2(p_neg))
                Entropy_Sv = abs(Entropy_Sv)
            ent.append(Entropy_Sv)
            import math
            ent = [0 if math.isnan(x) else x for x in ent]
    print(ent)
    gain.append(feature_entropy - sum(ent))
gain

0.9402859586706311
['Sunny', 'Overcast', 'Rainy']
[0.3467680694480959, 0, 0.3467680694480959]
0.9402859586706311
['Hot', 'Mild', 'Cool']
[0.2857142857142857, 0.39355535745192405, 0.23179374984546652]
0.9402859586706311
['High', 'Normal']
[0.49261406801712576, 0.29583638929116374]
0.9402859586706311
['Weak', 'Strong']
[0.46358749969093305, 0.42857142857142855]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_41232\553640915.py:23: RuntimeWarning: divide by zero encountered in log2
  Entropy_Sv =((len(p_yes)+len(p_no))/len(data))*(-(p_pos)*np.log2(p_pos) - (p_neg)*np.log2(p_neg))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_41232\553640915.py:23: RuntimeWarning: invalid value encountered in double_scalars
  Entropy_Sv =((len(p_yes)+len(p_no))/len(data))*(-(p_pos)*np.log2(p_pos) - (p_neg)*np.log2(p_neg))

[0.24674981977443933,
 0.02922256565895487,
 0.15183550136234159,
 0.04812703040826949]

In [365]:
max(gain)

0.24674981977443933

In [ ]:
#Replacing Categorical Values with Numerical Values

#Use One Hot Encoding for Outlook	Temperature	Humidity	Wind	PlayTennis

In [461]:
from sklearn.preprocessing import OneHotEncoder
ohe_outlook     = OneHotEncoder(sparse = False, handle_unknown = 'ignore')
ohe_temperature = OneHotEncoder(sparse = False, handle_unknown = 'ignore')
ohe_humidity    = OneHotEncoder(sparse = False, handle_unknown = 'ignore')
ohe_wind        = OneHotEncoder(sparse = False, handle_unknown = 'ignore')
ohe_playtennis  = OneHotEncoder(sparse = False, handle_unknown = 'ignore')

In [464]:
data_outlook    = ohe_outlook.fit_transform(data[['Outlook']])
data_temperature= ohe_temperature.fit_transform(data[['Temperature']])
data_humidity   = ohe_humidity.fit_transform(data[['Humidity']])
data_wind       = ohe_wind.fit_transform(data[['Wind']])
data_playtennis = ohe_playtennis.fit_transform(data[['PlayTennis']])

In [466]:

X_data_transformed = np.concatenate((data_outlook, data_temperature, data_humidity, data_wind), axis = 1)
Y_data_transformed = data_playtennis

In [472]:
## Apply model Decision Tree
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_data_transformed, Y_data_transformed)

In [475]:
from sklearn import tree
tree.plot_tree(clf)

ImportError: cannot import name 'rcParams' from 'matplotlib.axes' (C:\Users\ASUS\anaconda3\lib\site-packages\matplotlib\axes\__init__.py)

In [474]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.7.1-cp39-cp39-win_amd64.whl (7.6 MB)
     ---------------------------------------- 7.6/7.6 MB 25.7 MB/s eta 0:00:00
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib) (5.10.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.20 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib) (1.21.5)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: zipp>=3.1.0 in c:\users\asus\anaconda3\lib\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.8.0)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: matplotlib
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\anaconda3\lib\site-packages)
ERROR: Could not install packages due to an OSError: [WinError 5] Käyttö estetty: 'C:\\Users\\ASUS\\anaconda3\\Lib\\site-packages\\matplotlib\\ft2font.cp39-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\asus\anaconda3\lib\site-packages)

In [478]:
from matplotlib import rcParams

In [477]:
import matplotlib.pyplot as plt

ImportError: cannot import name 'rcParams' from 'matplotlib.axes' (C:\Users\ASUS\anaconda3\lib\site-packages\matplotlib\axes\__init__.py)

In [366]:
gain.index(max(gain))

0

In [367]:
col[gain.index(max(gain))]

'Outlook'

In [368]:
data[data['Outlook'] == 'Sunny']

   Outlook Temperature Humidity    Wind PlayTennis
0    Sunny         Hot     High    Weak         No
1    Sunny         Hot     High  Strong         No
7    Sunny        Mild     High    Weak         No
8    Sunny        Cool   Normal    Weak        Yes
10   Sunny        Mild   Normal  Strong        Yes

In [369]:
data[(data['Outlook'] == 'Sunny') & (data['Humidity'] == 'Normal')  ]

   Outlook Temperature Humidity    Wind PlayTennis
8    Sunny        Cool   Normal    Weak        Yes
10   Sunny        Mild   Normal  Strong        Yes

In [370]:
data[(data['Outlook'] == 'Sunny') & (data['Humidity'] == 'Normal') & (data['Wind'] == 'Weak')]

  Outlook Temperature Humidity  Wind PlayTennis
8   Sunny        Cool   Normal  Weak        Yes

In [371]:
data[(data['Outlook'] == 'Sunny') & (data['Humidity'] == 'Normal') & (data['Wind'] == 'Weak') & (data['Temperature'] == 'Cool')]

  Outlook Temperature Humidity  Wind PlayTennis
8   Sunny        Cool   Normal  Weak        Yes

In [372]:
data[(data['Outlook'] == 'Sunny') & (data['Humidity'] == 'Normal')   & (data['Wind'] == 'Strong')]

   Outlook Temperature Humidity    Wind PlayTennis
10   Sunny        Mild   Normal  Strong        Yes

In [373]:
data[(data['Outlook'] == 'Sunny') & (data['Humidity'] == 'High')]

  Outlook Temperature Humidity    Wind PlayTennis
0   Sunny         Hot     High    Weak         No
1   Sunny         Hot     High  Strong         No
7   Sunny        Mild     High    Weak         No

In [374]:
data[(data['Outlook'] == 'Sunny') & (data['Humidity'] == 'High') & (data['Wind'] == 'Weak')]

  Outlook Temperature Humidity  Wind PlayTennis
0   Sunny         Hot     High  Weak         No
7   Sunny        Mild     High  Weak         No

In [375]:
data[(data['Outlook'] == 'Sunny') & (data['Humidity'] == 'High') & (data['Wind'] == 'Weak') & (data['Temperature'] == 'Hot')]

  Outlook Temperature Humidity  Wind PlayTennis
0   Sunny         Hot     High  Weak         No

In [376]:
data[(data['Outlook'] == 'Sunny') & (data['Humidity'] == 'High') & (data['Wind'] == 'Weak') & (data['Temperature'] == 'Mild')]

  Outlook Temperature Humidity  Wind PlayTennis
7   Sunny        Mild     High  Weak         No

In [396]:
with open('iris.data', 'r') as file:
    data2 = file.read()

In [397]:
df = pd.read_csv('iris.data', delimiter=',', header=None)

In [398]:
df

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [399]:
df = df.reset_index(drop = True)
df

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [400]:
df[4].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [401]:
#Transform output feature to numerical values
df[4]=df[4].replace({'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2})

In [443]:
df.head()

     0    1    2    3  4
0  5.1  3.5  1.4  0.2  0
1  4.9  3.0  1.4  0.2  0
2  4.7  3.2  1.3  0.2  0
3  4.6  3.1  1.5  0.2  0
4  5.0  3.6  1.4  0.2  0

In [416]:
#Select the first 25 rows of each class as training data
train_data = pd.DataFrame(np.concatenate((df.iloc[:25, :],df.iloc[50:75, :], df.iloc[100:125, :]), axis = 0))

In [425]:
#Select the remaining 25 rows of each class as test data
test_data = pd.DataFrame(np.concatenate((df.iloc[25:50, :],df.iloc[75:100, :], df.iloc[125:150, :]), axis = 0))

In [433]:
X_train_data = train_data.iloc[:,0:4]
Y_train_data = train_data.iloc[:,-1]

In [435]:
X_test_data = test_data.iloc[:,0:4]
Y_test_data = test_data.iloc[:,-1]

In [437]:
from sklearn.tree import DecisionTreeClassifier

In [438]:
clf = DecisionTreeClassifier()
clf.fit(X_train_data, Y_train_data)

DecisionTreeClassifier()

In [439]:
y_pred=clf.predict(X_test_data)
y_pred

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 2., 1., 1., 1., 1., 1., 2.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 2.,
       1., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 1., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2.])

In [440]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test_data, y_pred)

0.9466666666666667

In [441]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test_data, y_pred)

In [442]:
cm

array([[25,  0,  0],
       [ 0, 23,  2],
       [ 0,  2, 23]], dtype=int64)

In [446]:
TP_1 =  sum((y_pred == 0) & (Y_test_data == 0))

In [447]:
TP_1

25

In [449]:
TP_2 =  sum((y_pred == 1) & (Y_test_data == 1))
TP_2

23

In [450]:
TP_3 =  sum((y_pred == 2) & (Y_test_data == 2))
TP_3

23

In [455]:
FP_0 = sum((y_pred == 0) & (Y_test_data != 0));
FP_0

0

In [456]:
FN_0 = sum((y_pred != 0) & (Y_test_data == 0));
FN_0

0

In [457]:
FP_2 = sum((y_pred == 2) & (Y_test_data != 2));
FP_2

2

In [458]:
FN_2 = sum((y_pred != 2) & (Y_test_data == 2));
FN_2

2

In [459]:
FP_1 = sum((y_pred == 1) & (Y_test_data != 1));
FP_1

2

In [460]:
FP_1 = sum((y_pred != 1) & (Y_test_data == 1));
FP_1

2